<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light">

        <!-- LoginActivity sebagai Activity pertama yang dijalankan -->
        <activity
            android:name="com.example.mobilebanking_wahyu_eko_suroso_411222044.Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- MainActivity yang akan dijalankan setelah login berhasil -->
        <activity android:name="com.example.mobilebanking_wahyu_eko_suroso_411222044.MainActivity" android:exported="false" />
        <activity android:name="com.example.mobilebanking_wahyu_eko_suroso_411222044.MyCard" android:exported="false"/>
        <activity android:name="com.example.mobilebanking_wahyu_eko_suroso_411222044.Statistik" android:exported="false"/>
        <activity android:name="com.example.mobilebanking_wahyu_eko_suroso_411222044.Setting" android:exported="false"/>

    </application>

</manifest>
